.charities {
  background: #ddd;
  width: 300px;
  font-family: "sans-serif";
}

.name {
  color: black;
  background: #ff0;
  padding: 5px;
}

.description {
  color: black;
  background: #00ff00;
  padding: 2px;
  margin-left: 10px;
}
